page-adminpanel {

  #adminpanel{

    background-color: #213140;

  }
  #h1{
    color: #FBC816;
    text-align: center;
  }

  #h2{
    text-align: left;
    color: #B5B5B7;
  }


  #img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  #btn{
    margin-left: 25%;
    margin-right: 30%

  }

  #btn1{
    margin-left: 27%;
    margin-right: 30%
  }

}
